﻿@model ProcessManagementModel.Users

@{
    ViewBag.Title = "Controle Financeiro";
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/assets/stylesheets/bootstrap.min.css" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/assets/stylesheets/bootstrap-table.css" type="text/css">
    <link rel="stylesheet" href="~/assets/stylesheets/creative.css" type="text/css">
</head>

<body id="page-top">
    <div class="modal fade" role="dialog" id="modalLogin">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-center">Bem vindo!</h3>
                    <h4 class="text-center">Por favor, digite o seu usuário e senha.</h4>
                </div>
                <div class="modal-body">
                    <section id="loginForm" style="padding:0px;">
                        @using (Html.BeginForm("SignIn", "Login", new { User = @Model }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control input-lg", @placeholder = "Usuário", @id = "edt_userName" })
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control input-lg", @placeholder = "Senha", @id = "edt_password", @type = "Password" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-danger btn-lg btn-block" name="btn_login" value="Entrar" style="background-color: #4F7384; border-color: #4F7384;border-radius: 0px;" />
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Controle Financeiro</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="#video">Play</a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li class="">
                        <a class="page-scroll" data-toggle="modal" data-target="#modalLogin" style="cursor:pointer;">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style="font-size: 65px;">Controle Financeiro</h1>
                <hr>
                <p>Ferramenta desenvolvida para administrar as movimentações financeira. Tenha o controle total de suas entradas e saídas na palma de sua mão, em qualquer hora e em qualquer lugar.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Saiba mais</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Sobre a ferramenta</h2>
                    <hr class="light">
                    <p class="text-faded">Criada com o propósito de otimizar e agilizar processos, a ferramenta tem o intuito de auxiliar empresas, pessoas e negócios em suas respectivas áreas de atuação. Nosso comprometimento é com diminuição de custo, tempo e aumento de produtividade, substituindo o trabalho braçal por processos automatizados.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button" data-sr-id="6" style="visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: all 0.35s ease 0s, -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; transition: all 0.35s ease 0s, transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; ">Conheça nossos serviços!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nossos serviços</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 text-center">
                    <div class="service-box">
                        <h3>Controle de Entradas / Saídas</h3>
                        <p class="text-muted">Você terá o controle sobre todo o seu fluxo de caixa e movimentação, de forma simples e rápida você terá acesso a relatórios que informam tudo o que você precisa saber.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <div class="service-box">
                        <h3>Multiplos usuários</h3>
                        <p class="text-muted">Você pode ter muitos usuários cadastrados em nossa ferramenta, e ter acesso aos dados e informações de cada um em tempo real, independente de onde estiver.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <div class="service-box">
                        <h3>Administração de reembolsos</h3>
                        <p class="text-muted">A ferramenta permite que os usuários solicitem reembolsos, com isso o administrador terá uma visão geral de toda a movimentação com os gastos em pagamentos.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolio" class="portfolio-box">
                        <img src="@Href("~/assets/images/Dash.PNG")" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Dashboard
                                </div>
                                <div class="project-name">
                                    Tela inicial do sistema
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolio" class="portfolio-box">
                        <img src="@Href("~/assets/images/input.PNG")" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Entradas
                                </div>
                                <div class="project-name">
                                    Detalhes das entradas
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolio" class="portfolio-box">
                        <img src="@Href("~/assets/images/CreateInput.PNG")" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Nova Entrada
                                </div>
                                <div class="project-name">
                                    Cadastro de uma nova entrada
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolio" class="portfolio-box">
                        <img src="@Href("~/assets/images/Details.PNG")" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Detalhes
                                </div>
                                <div class="project-name">
                                    Detalhes da movimentação
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolio" class="portfolio-box">
                        <img src="@Href("~/assets/images/output.PNG")" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Saídas
                                </div>
                                <div class="project-name">
                                    Detalhes das Sáidas
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolio" class="portfolio-box">
                        <img src="@Href("~/assets/images/CreateAccessGroup.PNG")" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Grupos de acesso
                                </div>
                                <div class="project-name">
                                    Controle de acesso ao sistema
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Contrate e ganhe 30 dias grátis</h2>
                <a href="#" class="btn btn-default btn-xl sr-button" data-sr-id="7" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: all 0.35s ease 0s, -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; transition: all 0.35s ease 0s, transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; ">Assine agora mesmo!</a>
            </div>
        </div>
    </aside>

    <section id="video">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Apresentação</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="embed-responsive embed-responsive-4by3 text-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/aLUzhnB1DME" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Fale Conosco</h2>
                    <hr class="primary">
                    <p>Está com alguma dúvida ? Teremos o prazer de responde-la. Nos mande um e-mail ou entre em contato pelo nosso telefone.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact" data-sr-id="9" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
                    <p>(11) 98534-0888</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact" data-sr-id="10" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
                    <p><a href="mailto:alexandre_gasparino@hotmail.com">alexandre_gasparino@hotmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Href("~/assets/javascripts/bootstrap.min.js")"></script>
    <script src="@Href("~/assets/javascripts/scrollreveal.min.js")"></script>
    <script src="@Href("~/assets/javascripts/jquery.easing.min.js")"></script>
    <script src="@Href("~/assets/javascripts/jquery.fittext.js")"></script>
    <script src="@Href("~/assets/javascripts/jquery.magnific-popup.min.js")"></script>
    <script src="@Href("~/assets/javascripts/creative.js")"></script>
</body>
</html>

