﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="page-header">
    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-users page-header-icon"></i>&nbsp;&nbsp;Grupos de acesso</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Detalhes</span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-icon"><i class="fa fa-rss-square"></i></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="AccessGroupTable" class="table borderless" data-cache="true" data-click-to-select="true" data-pagination="true" data-show-export="true" data-Export="true" data-export-options='{"fileName": "Grupos"}' data-page-list="[10, 25, 50, 100, ALL]" data-search="true" data-show-columns="true" data-toggle="table">
                        <thead>
                            <tr>
                                <th class="hide">Id</th>
                                <th class="col-md-1">Opções</th>
                                <th class="col-md-7">Grupo de acesso</th>
                                <th class="col-md-2">Atribui responsabilidade</th>
                                <th class="col-md-2">Aprovador</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var tableValue in (List<ProcessManagementModel.AccessGroup>)TempData["TableValues"])
                                {
                                    <tr>
                                        <td class="hide">@tableValue.Id</td>
                                        <td>
                                            <center>
                                                <div class="dropdown">
                                                    <button class="btn btn-labeled btn-primary dropdown-toggle" id="dropdownMenu1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="btn-label icon fa fa-cog"></span> <span class="caret"></span></button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        <li><a href="@Url.Action("EditAccessGroup", "User",  new { id = tableValue.Id })" style="text-align: left;"><span class="glyphicon glyphicon-pencil" style="margin:0px 0px 0px 0px"></span> Editar</a></li>
                                                        <li><a href="@Url.Action("DeleteAccessGroup", "User", new { id = tableValue.Id })" style="text-align: left;"><span class="glyphicon glyphicon-remove" style="margin:0px 0px 0px 0px"></span> Excluir</a></li>
                                                    </ul>
                                                </div>
                                            </center>
                                        </td>
                                        <td>@tableValue.Name</td>
                                        @if (tableValue.AssignResponsability)
                                        {
                                            <td><span><i class="fa fa-check" style="color: green"></i></span></td>
                                        }
                                        else
                                        {
                                            <td><span><i class="fa fa-times" style="color: red"></i></span></td>
                                        }

                                        @if (tableValue.Approver)
                                        {
                                            <td><span><i class="fa fa-check" style="color: green"></i></span></td>
                                        }
                                        else
                                        {
                                            <td><span><i class="fa fa-times" style="color: red"></i></span></td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Opções </span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-icon"><i class="fa fa-th-list"></i></div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <a href="javascript:history.back()" class="btn btn-labeled btn-danger" style="margin-top:25px !important"><span class="btn-label icon fa  fa-arrow-circle-left"></span>Voltar</a>
                <button class="btn btn-labeled btn-primary" style="margin-top:25px !important" onclick="location.href='@Url.Action("CreateAccessGroup","User")'"><span class="btn-label icon fa fa-plus-square"></span>Novo grupo</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#AccessGroupTable").bootstrapTable();
</script>