﻿@model ProcessManagement.DTO.ModelsView.AccessGroup
@using ProcessManagement.Controllers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="page-header">
    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-users page-header-icon"></i>&nbsp;&nbsp;Cadastro de grupo de acesso</h1>
</div>

<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Digite as informações</span>
        <div class="panel-heading-controls">
            <div class="panel-heading-icon"><i class="fa fa-th"></i></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 hide">
                @Html.LabelFor(model => model.Id)
                @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                <div for="Description" class="jquery-validate-error help-block">
                    @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Tem acesso aos menus:</span>
        <div class="panel-heading-controls">
            <div class="panel-heading-icon"><i class="fa fa-sitemap"></i></div>
        </div>
    </div>
    <div class="panel-body Menus">
        <div class="row">
            <div class="col-sm-12">
                @{
                    foreach (var menuItem in (List<ProcessManagement.DTO.ModelsView.Menu>)ViewBag.Menu)
                    {
                        if (menuItem.Menu_Childs.Count > 0)
                        {
                            <label class="checkbox-inline" style="padding-left: 0px;">
                                <i class="@menuItem.Icon"></i>
                                <span class="lbl">@menuItem.Text</span>
                            </label>
                            <br /><br />

                            foreach (var menuItemChild in menuItem.Menu_Childs)
                            {
                                <label class="checkbox-inline" style="margin-left: 2em;">
                                    <input type="checkbox" class="px" value="@menuItemChild.Id.ToString()">
                                    <span class="lbl">@menuItemChild.Text</span>
                                </label>
                                <br /><br />
                            }
                        }
                        else
                        {
                            <label class="checkbox-inline">
                                <input type="checkbox" class="px" value="@menuItem.Id.ToString()">
                                <span class="lbl">@menuItem.Text</span>
                            </label>
                            <br /><br />
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Visualiza as informações de:</span>
        <div class="panel-heading-controls">
            <div class="panel-heading-icon"><i class="fa fa-tags"></i></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <label class="checkbox-inline">
                    <input type="checkbox" class="px" checked="checked" id="myData">
                    <span class="lbl">Apenas dados próprios</span>
                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12 permissions">
                <label class="checkbox-inline">
                    <input type="checkbox" class="px selectedMenu" id="myGroup" value="0" disabled>
                    <span class="lbl">Próprio grupo</span>
                </label>
            </div>
        </div>
        <br />

        @{
            foreach (var tableValue in (List<ProcessManagement.DTO.ModelsView.AccessGroup>)ViewBag.AccessGroups)
            {
                <div class="row">
                    <div class="col-sm-12 permissions">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="px selectedMenu" id="@tableValue.Id" value="@tableValue.Id" disabled>
                            <span class="lbl">@tableValue.Name</span>
                        </label>
                    </div>
                </div>
                <br />
            }
        }
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Autoridade</span>
        <div class="panel-heading-controls">
            <div class="panel-heading-icon"><i class="fa fa-gavel"></i></div>
        </div>
    </div>
    <div class="panel-body">
        <label class="checkbox-inline">
            <input type="checkbox" class="px" value="1" id="authority" disabled>
            <span class="lbl">Atribui responsabilidade</span>
        </label>
        <br /><br />
        <label class="checkbox-inline">
            <input type="checkbox" class="px" value="0" id="approver" disabled>
            <span class="lbl">Aprovador</span>
        </label>
    </div>
</div>

<div class="panel-footer text-right">
    <a href="javascript:history.back()" class="btn btn-labeled btn-danger" style="margin-top:25px !important"><span class="btn-label icon fa  fa-arrow-circle-left"></span>Voltar</a>
    <button type="submit" class="btn btn-labeled btn-primary" style="margin-top:25px !important" onclick="SaveAccessGroup()"><span class="btn-label icon fa fa-check-circle-o"></span>Salvar</button>
</div>

<script>
    $("#myData").change(function () {
        if ($(this).is(":checked")) {
            $(".selectedMenu").prop("disabled", true);
            $(".selectedMenu").prop("checked", false);

            $("#authority").prop("disabled", true);
            $("#approver").prop("disabled", true);
        }
        else {
            $(".selectedMenu").prop("disabled", false);

            $("#authority").prop("disabled", false);
            $("#approver").prop("disabled", false);
        }
    });

    function SaveAccessGroup() {
        var menus = new Object();
        var permission = [];
        var authority = false;
        var approver = false;
        var name = $("#Name").val();
        var id = 0;

        $('.Menus input[type=checkbox]').each(function () {
            menus[this.value] = this.checked;
        });

        var jMenus = JSON2.stringify(menus);

        if ($("#myData").is(":checked")) {
            $('.permissions input[type=checkbox]').each(function () {
                if (this.checked) {
                    permission.push(this.value);
                }
            });
        }

        if ($("#authority").is(":checked")) {
            authority = true;
        }

        if ($("#approver").is(":checked")) {
            approver = true;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveAccessGroup", "User")',
            data: { 'accessGroupId': id, 'accessGroupName': name, 'jMenus': jMenus, 'permission': permission, 'authority': authority, 'approver': approver },
            dataType: "json",
            success: function (response) {
                if (response != null && response.success) {
                    @{ var typeSuccess = (int)ApplicationController.StateModal.Success; };

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("OpenModal", "Application")',
                        data: { 'stateModal': @typeSuccess, 'title': 'Sucesso', 'text': response.responseText },
                        dataType: "json",
                        success: function (response) {
                        },
                        error: function (response) {
                        }
                    });
                } else {
                    @{ var typeWarning = (int)ApplicationController.StateModal.Warning; };

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("OpenModal", "Application")',
                        data: { 'stateModal': @typeWarning, 'title': 'Atenção', 'text': response.responseText },
                        dataType: "json",
                        success: function (response) {
                        },
                        error: function (response) {
                        }
                    });
                }

                location.href = '@Url.Action("AccessGroup", "User")';
            },
            error: function (response) {
                @{ var typeDanger = (int)ApplicationController.StateModal.Danger; };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("OpenModal", "Application")',
                    data: { 'stateModal': @typeDanger, 'title': 'Erro', 'text': response.responseText },
                    dataType: "json",
                    success: function (response) {
                    },
                    error: function (response) {
                    }
                });

                location.href = '@Url.Action("AccessGroup", "User")';
            }
        });
    };
</script>
