﻿@model ProcessManagement.DTO.ModelsView.User
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="page-header">
    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-user page-header-icon"></i>&nbsp;&nbsp;Novo usuário</h1>
</div>

@using (Html.BeginForm("CreateUser", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel-heading">
        <span class="panel-title">Digite as informações</span>
        <div class="panel-heading-controls">
            <div class="panel-heading-icon"><i class="fa fa-th"></i></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 hide">
                @Html.LabelFor(model => model.Id)
                @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="AccessGroupId">Grupo de acesso</label>
                @Html.DropDownList("AccessGroupId", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                <div for="Description" class="jquery-validate-error help-block">
                    @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                <div for="Description" class="jquery-validate-error help-block">
                    @Html.ValidationMessageFor(model => model.UserName, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                <div for="Description" class="jquery-validate-error help-block">
                    @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @if ((ViewBag.IsEdit != null && ViewBag.IsEdit == true))
                {
                    <button onclick="location.href='@Url.Action("AlterPassword", "User", new { id = Model.Id })'" type="button" class="btn btn-labeled btn-warning"><span class="btn-label icon fa fa-pencil-square-o"></span>Alterar Senha</button>
                }
            </div>
        </div>
    </div>
    <br />

    <div class="panel-heading">
        <span class="panel-title">Imagem</span>
        <div class="panel-heading-controls">
            <div class="panel-heading-icon"><i class="fa fa-paperclip"></i></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="dropzoneAtachmentImage" class="dropzone-box">
                    <div class="dz-default dz-message">
                        <i class="fa fa-download"></i>
                        Drop file in here<br><span class="dz-text-small">or click to pick manually</span>
                    </div>
                    <div class="fallback">
                        <input name="file" type="file" multiple />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer ">
        <div class="text-right">
            <a href="javascript:history.back()" class="btn btn-labeled btn-danger" style="margin-top:25px !important"><span class="btn-label icon fa  fa-arrow-circle-left"></span>Voltar</a>
            <button type="submit" class="btn btn-labeled btn-primary" style="margin-top:25px !important"><span class="btn-label icon fa fa-check-circle-o"></span>Salvar</button>
        </div>
    </div>

    <input class="form-control hidden" id="inputGuid" name="inputGuid" type="text" value="">
}

<script>
    $(document).ready(function () {
        @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
        {
            @:prepareDropzoneEdit();
        }
        else
        {
            @:prepareDropzoneInsert();
        }
    });

    var guid = guid();

    function prepareDropzoneInsert() {
        $("#dropzoneAtachmentImage").dropzone({
            url: "@Url.Action("Dropzone", "Application")?guid=" + guid,
            paramName: "file",
            maxFilesize: 5.0,
            uploadMultiple: true,
            parallelUploads: 10000,
            maxFiles: 1,
            addRemoveLinks: true,
            dictResponseError: "Can't upload file!",
            acceptedFiles: "image/*",
            autoProcessQueue: true,
            success: function (data, response) {
                PixelAdmin.plugins.alerts.clear(true);
                if (response["messageError"] == null) {
                    $("#inputGuid").val(guid);
                } else {
                    PixelAdmin.plugins.alerts.add(response["messageError"], { type: "warning" });
                }
            },
            removedfile: function (file) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("RemoveFileFromCache", "Application")',
                    data: { guid: guid, fileName: file.name },
                    success: function (data, response) {
                        PixelAdmin.plugins.alerts.clear(true);
                        if (response["messageError"] != null) {
                            PixelAdmin.plugins.alerts.add(response["messageError"], { type: "warning" });
                        }
                    }
                });

                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            }
        });
    }

    function prepareDropzoneEdit() {
        $("#dropzoneAtachmentImage").dropzone({
            url: "@Url.Action("Dropzone", "Application")?guid=" + guid,
            paramName: "file",
            maxFilesize: 5.0,
            uploadMultiple: true,
            parallelUploads: 10000,
            maxFiles: 1,
            addRemoveLinks: true,
            dictResponseError: "Can't upload file!",
            acceptedFiles: "image/*",
            autoProcessQueue: true,
            success: function (data, response) {
                PixelAdmin.plugins.alerts.clear(true);
                if (response["messageError"] == null) {
                    $("#inputGuid").val(guid);
                } else {
                    PixelAdmin.plugins.alerts.add(response["messageError"], { type: "warning" });
                }
            },
            removedfile: function (file) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("RemoveFileFromCache", "Application")',
                    data: { guid: guid, fileName: file.name },
                    success: function (data, response) {
                        PixelAdmin.plugins.alerts.clear(true);
                        if (response["messageError"] != null) {
                            PixelAdmin.plugins.alerts.add(response["messageError"], { type: "warning" });
                        }
                    }
                });

                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            },
            init: function () {
                var thisDropzone = this;
                var id = $("#Id").val();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetProfileImage", "User")',
                    data: { userId: id, guid: guid },
                    success: function (data, response) {
                        if (data) {
                            $.each(data.Data.Data, function (index, item) {
                                var mockFile = {
                                    name: item.Name,
                                    size: item.Size
                                };

                                var src = '@Url.Action("Index", "Image")?id=' + item.Id;

                                thisDropzone.emit("addedfile", mockFile);
                                thisDropzone.emit("thumbnail", mockFile, src);
                            });

                            $("#inputGuid").val(data.Data.Guid);
                            $("#dropzoneAtachmentImage img").css({ "max-width": "130px" });
                        }
                    }
                });
            }
        })
    }

    $("#AccessGroupId").select2({ placeholder: "Selecione o grupo de acesso" });
</script>