﻿@model ProcessManagementModel.Users

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>beblue</title>
</head>
<body>
    <div bgcolor="#ffffff">
        <span class="HOEnZb">
            <font color="#888888">
            </font>
        </span>
        <span class="HOEnZb">
            <font color="#888888">
            </font>
        </span>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="background-color:#ffffff">
            <tbody>
                <tr>
                    <td align="center">
                        <div style="max-width:558px;margin-top:0;margin-right:auto;margin-bottom:0;margin-left:auto;padding-top:0;padding-right:10px;padding-bottom:0;padding-left:10px">
                            <span class="HOEnZb">
                                <font color="#888888">
                                </font>
                            </span>
                            <span class="HOEnZb">
                                <font color="#888888">
                                </font>
                            </span>
                            <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="max-width:558px;padding-bottom:0;padding-right:0;padding-top:0;padding-left:0;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-family:Arial,Helvetica,sans-serif;font-weight:normal;font-size:13px;line-height:18px;color:#444444;text-align:left">
                                <tbody>
                                    <tr>
                                        <td valign="top" width="100%" style="padding-left:0;padding-bottom:18px;padding-right:0;padding-top:22px;border-collapse:collapse;border-bottom-width:1px;border-bottom-color:#dcdcdc;border-bottom-style:solid">
                                            <img src="http://www.beblue.com.br/wp-content/themes/beblue/img/logo-beblue-sticky.png" alt="Beblue" title="Cardtrue" width="126" border="0" style="display:block" class="CToWUd">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100%" style="padding-top:25px;padding-right:0;padding-bottom:0;padding-left:0">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="font-family:Arial,Helvetica,sans-serif;font-weight:normal;font-size:13px;line-height:18px;color:#444444;background-color:#ffffff;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-left:0;margin-bottom:0;margin-top:0;margin-right:0">
                                                <tbody>
                                                    <tr>
                                                        <td width="100%">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top" width="100%" style="margin:0px;padding-left:0;padding-bottom:0px;padding-right:0;padding-top:0px;font-family:Arial,Helvetica,sans-serif;font-weight:normal;font-size:13px;line-height:18px;color:#333333;text-align:left">
                                                                            <p><strong>Olá, customerName,</strong></p>
                                                                            <br />
                                                                            <p>A partir de agora, realize suas compras nos estabelecimentos parceiros e digite seu CPF no ato do pagamento com seu cartão Visa e/ou MasterCard.</p>
                                                                            <p>Na hora, um percentual do valor que você pagou voltará para sua conta. Simples assim.</p>

                                                                            <p>Para mais informações acesse: <a href="http://beblue.com.br" target="_blank">www.beblue.com.br</a></p>


                                                                            <p>Se você tiver alguma dúvida ou precisar de assistência adicional, entre em contato <a href="http://beblue.com.br" target="_blank">Suporte</a>.</p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" width="100%" style="padding-left:0;padding-bottom:40px;padding-right:0;padding-top:20px;font-family:Arial,Helvetica,sans-serif;font-weight:normal;font-size:13px;line-height:18px;color:#333333;border-collapse:collapse;text-align:left">
                                                            Atenciosamente,<br><strong> Equipe Beblue</strong>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100%" style="font-family:Arial,Helvetica,sans-serif;font-weight:normal;font-size:10px;line-height:14px;color:#666666;padding-bottom:0;padding-top:20px;padding-right:0;padding-left:0;text-align:left;border-top-style:solid;border-top-color:#dcdcdc;border-top-width:1px">
                                            © 2015 Beblue. Rua Maringa, 438 - Bairro Alto da Boa Vista, Cidade Ribeirão Preto, Estado SP, CEP: 14.025-560
                                            <br><br>
                                            Você recebeu este anúncio do serviço de e-mail obrigatório para informá-lo sobre alterações importantes no seu produto Beblue ou conta.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <span class="HOEnZb">
                                <font color="#888888">
                                </font>
                            </span>
                        </div>
                        <span class="HOEnZb">
                            <font color="#888888">

                            </font>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>