﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using ProcessManagement.Core

<div class="page-header">
    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-arrow-circle-right page-header-icon"></i>&nbsp;&nbsp;Entradas</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Filtros de busca </span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-icon"><i class="fa  fa-bars"></i></div>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("CashInput", "CashFlow"))
                {
                    <div class="row">
                        <div class="col-md-4">
                            <label for="groupOption" class="control-label">Agrupamento</label>
                            <select class="form-control" id="groupOption" name="groupOption">
                                <option value="details">Detalhado</option>
                                <option value="day">Dia</option>
                                <option value="month">Mês</option>
                                <option value="year">Ano</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            @{
                                var valueDate1 = ViewBag.Date1 == null ? "Data inicial" : ViewBag.Date1.ToString();
                                <label for="date1" class="control-label">Data inicial</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control datepicker" placeholder="Data inicial" id="date1" name="date1" value="@valueDate1"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            }
                        </div>
                        <div class="col-md-4">
                            @{
                                var valueDate2 = ViewBag.Date2 == null ? "Data final" : ViewBag.Date2.ToString();
                                <label for="date2" class="control-label">Data final</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control datepicker" placeholder="Data final" id="date2" name="date2" value="@valueDate2"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            @{
                                <label for="TypeId">Tipo</label>
                                @Html.DropDownList("TypeId", null, new { @class = "form-control", @name = "TypeId" })
                            }
                        </div>
                        <div class="col-md-3">
                            @{
                                <label for="AccessGroupId">Usuário</label>
                                @Html.DropDownList("UserId", null, new { @class = "form-control", @name = "userId" })
                            }
                        </div>
                        <div class="col-md-4">
                            @{
                                var description = ViewBag.Description == null ? "" : ViewBag.Description.ToString();
                                <label for="Description" class="control-label">Descrição</label>
                                <input type="text" class="form-control" placeholder="Descrição" id="description" name="description" value="@description">
                            }
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-labeled btn-primary" type="submit" style="margin-top:25px !important"><span class="btn-label icon fa fa-search"></span>Buscar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default pre-scrollable">
            <div class="panel-heading">
                <span class="panel-title">Demonstrativo</span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-icon"><i class="fa fa-bar-chart-o"></i></div>
                </div>
            </div>
            <div class="panel-body">
                <canvas id="chartcontainer" min-width: 310px; height: 400px; margin 0 auto></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Detalhes</span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-icon"><i class="fa fa-rss-square"></i></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="InputsDetails" class="table borderless" data-cache="true" data-click-to-select="true" data-pagination="true" data-show-export="true" data-Export="true" data-export-options='{"fileName": "Entradas"}' data-page-list="[10, 25, 50, 100, ALL]" data-search="true" data-show-columns="true" data-toggle="table">
                        <thead>
                            @{
                                switch ((string)ViewBag.Group)
                                {
                                    case "day":
                                        <tr>
                                            <th class="hide">Id</th>
                                            <th class="col-md-3">Dia</th>
                                            <th class="col-md-9">Valor Total</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        break;

                                    case "month":
                                        <tr>
                                            <th class="hide">Id</th>
                                            <th class="col-md-3">Mês</th>
                                            <th class="col-md-9">Valor Total</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        break;

                                    case "year":
                                        <tr>
                                            <th class="hide">Id</th>
                                            <th class="col-md-3">Ano</th>
                                            <th class="col-md-9">Valor Total</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        break;

                                    default:
                                        <tr>
                                            <th class="hide">Id</th>
                                            <th class="col-md-1">Opções</th>
                                            <th class="col-md-3">Descrição</th>
                                            <th class="col-md-2">Valor</th>
                                            <th class="col-md-1">Parcela</th>
                                            <th class="col-md-1">Data Pag.</th>
                                            <th class="col-md-2">Usuário</th>
                                            <th class="col-md-2">Status</th>
                                        </tr>
                                        break;
                                }
                            }
                        </thead>
                        <tbody>
                            @{
                                decimal totalAmount = 0;
                                switch ((string)ViewBag.Group)
                                {
                                    case "day":
                                    case "month":
                                    case "year":
                                        foreach (var tableValue in (Dictionary<string, decimal>)ViewBag.TableValues)
                                        {
                                            <tr>
                                                <td class="hide"></td>
                                                <td>@tableValue.Key</td>
                                                <td class="chartValue">@string.Format("{0:0.00}", tableValue.Value)</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            totalAmount += tableValue.Value;
                                        }
                                        break;

                                    default:
                                        foreach (var tableValue in (List<ProcessManagementModel.CashFlowInstallments>)ViewBag.TableValues)
                                        {
                                            <tr>
                                                <td class="hide">@tableValue.Id</td>
                                                <td>
                                                    <center>
                                                        <div class="dropdown">
                                                            <button class="btn btn-labeled btn-primary dropdown-toggle" id="dropdownMenu1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="btn-label icon fa fa-cog"></span> <span class="caret"></span></button>
                                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                @if (ViewBag.Approver != null && ViewBag.Approver == true)
                                                                {
                                                                    if (tableValue.StatusId == (int)Enums.Status.Pending)
                                                                    {
                                                                        <li><a href="@Url.Action("Edit", "CashFlow", new { id = tableValue.Id, approved = true})" style="text-align: left;"><span class="fa fa-thumbs-up" style="margin:0px 0px 0px 0px"></span> Aprovar</a></li>
                                                                        <li><a href="@Url.Action("Edit", "CashFlow", new { id = tableValue.Id, approved = false})" style="text-align: left;"><span class="fa fa-thumbs-down" style="margin:0px 0px 0px 0px"></span> Recusar</a></li>
                                                                    }
                                                                    else if (tableValue.StatusId == (int)Enums.Status.Approved)
                                                                    {
                                                                        <li><a href="@Url.Action("Edit", "CashFlow", new { id = tableValue.Id, approved = false})" style="text-align: left;"><span class="fa fa-thumbs-down" style="margin:0px 0px 0px 0px"></span> Recusar</a></li>
                                                                    }
                                                                    else if (tableValue.StatusId == (int)Enums.Status.Refused)
                                                                    {
                                                                        <li><a href="@Url.Action("Edit", "CashFlow", new { id = tableValue.Id, approved = true})" style="text-align: left;"><span class="fa fa-thumbs-up" style="margin:0px 0px 0px 0px"></span> Aprovar</a></li>
                                                                    }
                                                                }
                                                                <li><a href="#" class="details" onclick="openModal('@Url.Action("Details","Cashflow")','#Preview','#modal-blurred-bg',@tableValue.Id)" style="text-align: left;"><span class="glyphicon glyphicon-search" style="margin:0px 0px 0px 0px"></span> Detalhes</a></li>
                                                                <li><a href="@Url.Action("Edit", "CashFlow", new { id = tableValue.Id, input = true})" style="text-align: left;"><span class="glyphicon glyphicon-pencil" style="margin:0px 0px 0px 0px"></span> Editar</a></li>
                                                                <li><a href="@Url.Action("Delete", "CashFlow", new { id = tableValue.Id, input = true})" style="text-align: left;"><span class="glyphicon glyphicon-remove" style="margin:0px 0px 0px 0px"></span> Excluir</a></li>
                                                            </ul>
                                                        </div>
                                                    </center>
                                                </td>
                                                <td>@tableValue.Description</td>
                                                <td class="chartValue">@string.Format("{0:0.00}", tableValue.ValueInstallment)</td>
                                                <td>@tableValue.Installment</td>
                                                <td class="chartCategorie">@tableValue.PaymentDate.ToString("dd/MM/yyyy")</td>
                                                <td>@tableValue.CashFlow_CashFlowId.Users.UserName</td>
                                                <td class="@tableValue.Status.Name">@tableValue.Status.Description</td>
                                            </tr>
                                            totalAmount += tableValue.ValueInstallment;
                                        }
                                        break;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Opções </span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-icon"><i class="fa fa-th-list"></i></div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <a href="javascript:history.back()" class="btn btn-labeled btn-danger" style="margin-top:25px !important"><span class="btn-label icon fa  fa-arrow-circle-left"></span>Voltar</a>
                <button class="btn btn-labeled btn-primary" style="margin-top:25px !important" onclick="location.href='@Url.Action("CreateInput","CashFlow")'"><span class="btn-label icon fa  fa-plus-square"></span>Nova entrada</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/CashFlow/DetailsModal.cshtml")

<script>
   var categories = [];
    var series = [{ name: 'Valor entrada', data: [], color: '#AEBFAB' }];

    @if (ViewBag.Group != null)
    {
         @:$('#groupOption').val('@ViewBag.Group.ToString()');
                }

    @foreach(var category in (string[])ViewBag.ChartValues)
    {
        @:categories.push('@category');
                }

    @foreach(var value in (string[])ViewBag.ChartValues)
    {
        @:series[0].data.push(parseFloat('@value.Replace(',', '.')'));
                }

    loadLineChart('Movimentação de caixa - Entradas', categories, series, '#chartcontainer');

    $("#groupOption").select2();
    $("#TypeId").select2();
    $("#UserId").select2();

    $("#InputsDetails").bootstrapTable();
</script>
