﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="page-header">
    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-bars page-header-icon"></i>&nbsp;&nbsp;Tipos de movimentação</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Detalhes</span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-icon"><i class="fa fa-rss-square"></i></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="CashFlowTypeTable" class="table borderless" data-cache="true" data-click-to-select="true" data-pagination="true" data-show-export="true" data-Export="true" data-export-options='{"fileName": "Tipos_movimentacao"}' data-page-list="[10, 25, 50, 100, ALL]" data-search="true" data-show-columns="true" data-toggle="table">
                        <thead>
                            <tr>
                                <th class="hide">Id</th>
                                <th class="col-md-1">Opções</th>
                                <th class="col-md-3">Nome</th>
                                <th class="col-md-5">Detalhes</th>
                                <th class="col-md-3">Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var tableValue in (List<ProcessManagementModel.CashFlowType>)ViewBag.TableValues)
                                {
                                    <tr>
                                        <td class="hide">@tableValue.Id</td>
                                        <td>
                                            <center>
                                                <div class="dropdown">
                                                    <button class="btn btn-labeled btn-primary dropdown-toggle" id="dropdownMenu1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="btn-label icon fa fa-cog"></span> <span class="caret"></span></button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        <li><a href="@Url.Action("EditCashFlowType", "CashFlow",  new { id = tableValue.Id })" style="text-align: left;"><span class="glyphicon glyphicon-pencil" style="margin:0px 0px 0px 0px"></span> Editar</a></li>
                                                        <li><a href="@Url.Action("DeleteCashFlowType", "CashFlow", new { id = tableValue.Id })" style="text-align: left;"><span class="glyphicon glyphicon-remove" style="margin:0px 0px 0px 0px"></span> Excluir</a></li>
                                                    </ul>
                                                </div>
                                            </center>
                                        </td>
                                        <td>@tableValue.Name</td>
                                        <td>@tableValue.Details</td>
                                        <td>@tableValue.Type.Description</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Opções </span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-icon"><i class="fa fa-th-list"></i></div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <a href="javascript:history.back()" class="btn btn-labeled btn-danger" style="margin-top:25px !important"><span class="btn-label icon fa  fa-arrow-circle-left"></span>Voltar</a>
                <button class="btn btn-labeled btn-primary" style="margin-top:25px !important" onclick="location.href='@Url.Action("CreateCashFlowType","CashFlow")'"><span class="btn-label icon fa  fa-plus-square"></span>Novo tipo de movimentação</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#CashFlowTypeTable").bootstrapTable();
</script>
