﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="page-header">
    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-bar-chart-o page-header-icon"></i>&nbsp;&nbsp;Comparativo</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Filtros de busca </span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-icon"><i class="fa  fa-bars"></i></div>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Comparative", "CashFlow"))
                {
                    <div class="row">
                        <div class="col-md-3">
                            <label for="groupOption" class="control-label">Agrupamento</label>
                            <select class="form-control" id="groupOption" name="groupOption">
                                <option value="day">Dia</option>
                                <option value="month">Mês</option>
                                <option value="year">Ano</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            @{

                                var valueDate1 = TempData["Date1"] == null ? "Data inicial" : TempData["Date1"].ToString();
                                <label for="date1" class="control-label">Data inicial</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control datepicker" placeholder="Data inicial" id="date1" name="date1" value="@valueDate1"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            }
                        </div>
                        <div class="col-md-2">
                            @{
                                var valueDate2 = TempData["Date2"] == null ? "Data final" : TempData["Date2"].ToString();
                                <label for="date2" class="control-label">Data final</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control datepicker" placeholder="Data final" id="date2" name="date2" value="@valueDate2"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            }
                        </div>
                        <div class="col-md-3">
                            @{
                                <label for="AccessGroupId">Usuário</label>
                                @Html.DropDownList("UserId", null, new { @class = "form-control", @name = "userId" })
                            }
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-labeled btn-primary" type="submit" style="margin-top:25px !important"><span class="btn-label icon fa fa-search"></span>Buscar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default pre-scrollable">
            <div class="panel-heading">
                <span class="panel-title">Demonstrativo</span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-icon"><i class="fa fa-bar-chart-o"></i></div>
                </div>
            </div>
            <div class="panel-body">
                <div id="chartcontainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <div class="col-md-4">
            <div class="stat-panel">
                <div class="stat-cell bg-success valign-middle" style="padding:42px;">
                    <i class="fa fa-usd bg-icon"></i>
                    <span class="text-xlg"><span class="text-lg text-slim">$</span><strong>@TempData[$"TotalAmountInput"]</strong></span><br>
                    <span class="text-bg">Entradas</span><br>
                    <br />
                    <span class="text-sm"><a href="#">Valor referente ao período selecionado</a></span>
                    <br /><br />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stat-panel">
                <div class="stat-cell bg-danger valign-middle" style="padding:42px;">
                    <i class="fa fa-usd bg-icon"></i>
                    <span class="text-xlg"><span class="text-lg text-slim">$</span><strong>@TempData[$"TotalAmountOutput"]</strong></span><br>
                    <span class="text-bg">Saídas</span><br>
                    <br />
                    <span class="text-sm"><a href="#">Valor referente ao período selecionado</a></span>
                    <br /><br />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stat-panel">
                <div class="stat-cell bg-primary valign-middle" style="padding:42px;">
                    <i class="fa fa-usd bg-icon"></i>
                    <span class="text-xlg"><span class="text-lg text-slim">$</span><strong>@TempData[$"ChartBalanceTotal"]</strong></span><br>
                    <span class="text-bg">Saldo total</span><br>
                    <br />
                    <span class="text-sm"><a href="#">Valor referente ao período selecionado</a></span>
                    <br /><br />
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="stat-panel text-center">
                <div class="stat-row">
                    <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                        <i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Entradas
                    </div>
                </div>
                <div class="stat-row">
                    <div class="stat-cell bordered no-border-t no-padding-hr" style="padding:55px;">
                        <div class="pie-chart" data-percent="@TempData["InputPercent"]" id="easy-pie-chart-1">
                            <div class="pie-chart-label">@TempData["InputPercent"]%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="stat-panel text-center">
                <div class="stat-row">
                    <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                        <i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Saídas
                    </div>
                </div>
                <div class="stat-row">
                    <div class="stat-cell bordered no-border-t no-padding-hr" style="padding:55px;">
                        <div class="pie-chart" data-percent="@TempData["OutputPercent"]" id="easy-pie-chart-2">
                            <div class="pie-chart-label">@TempData["OutputPercent"]%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default pre-scrollable">
            <div class="panel-heading">
                <span class="panel-title">Percentual</span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-icon"><i class="fa fa-bar-chart-o"></i></div>
                </div>
            </div>
            <div class="panel-body">
                <div id="chartcontainerColumn" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>


<script>
    var categories = [];
    var series = [{ name: 'Entradas', data: [], color: '#AEBFAB' }, { name: 'Saídas', data: [], color: '#DC7B7B' }, { name: 'Saldo', data: [], color: '#7cb5ec' }];

    @if (TempData["Group"] != null)
    {
        @:$('#groupOption').val('@TempData["Group"].ToString()');
    }

    @foreach(var category in (string[])TempData["ChartCategories"])
    {
        @:categories.push('@category');
    }

    @foreach(var value in (string[])TempData["ChartValuesInput"])
    {
        @:series[0].data.push(parseFloat('@value.Replace(',', '.')'));
    }

    @foreach(var value in (string[])TempData["ChartValuesOutput"])
    {
        @:series[1].data.push(parseFloat('@value.Replace(',', '.')'));
    }

    @foreach(var value in (string[])TempData["ChartBalance"])
    {
        @:series[2].data.push(parseFloat('@value.Replace(',', '.')'));
    }

    loadhighchartsBasicLine('Comparativo - Entradas / Saídas / Saldo', 'Resultado por período', categories, 'Valores', series, '#chartcontainer');

    for (var i = 0; i <= 1; i++)
        series.splice(0, 1)

    loadhighchartsColumn('Saldo', 'Resultado por período', categories, 'Valores', series, '#chartcontainerColumn');

    $("#groupOption").select2({ placeholder: "Selecione o agrupamento" });

    $("#UserId").select2({ placeholder: "Atribua a responsabilidade." });

    init.push(function () {
        var easyPieChartDefaults = {
            animate: 2000,
            scaleColor: false,
            lineWidth: 6,
            lineCap: 'square',
            size: 90,
            trackColor: '#e5e5e5'
        }
        $('#easy-pie-chart-1').easyPieChart($.extend({}, easyPieChartDefaults, {
            barColor: PixelAdmin.settings.consts.COLORS[1]
        }));
        $('#easy-pie-chart-2').easyPieChart($.extend({}, easyPieChartDefaults, {
            barColor: PixelAdmin.settings.consts.COLORS[1]
        }));
        $('#easy-pie-chart-3').easyPieChart($.extend({}, easyPieChartDefaults, {
            barColor: PixelAdmin.settings.consts.COLORS[1]
        }));
    });

</script>
