﻿@model ProcessManagement.DTO.ModelsView.CashFlowType
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="page-header">
    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-bars page-header-icon"></i>&nbsp;&nbsp;Novo tipo de movimentação</h1>
</div>


<div class="panel">
    @using (Html.BeginForm("CreateCashFlowType", "CashFlow", new { model = @Model }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-heading">
            <span class="panel-title">Digite as informações</span>
            <div class="panel-heading-controls">
                <div class="panel-heading-icon"><i class="fa fa-th"></i></div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 hide">
                    @Html.LabelFor(model => model.Id)
                    @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="TypeId">Tipo</label>
                    @Html.DropDownList("TypeId", null, new { @class = "form-control", @name = "CashFlowType" })
                </div>
                <div class="col-sm-9">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.Details)
                    @Html.TextAreaFor(model => model.Details, 5, 10, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Details, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="panel-footer text-right">
            <a href="javascript:history.back()" class="btn btn-labeled btn-danger" style="margin-top:25px !important"><span class="btn-label icon fa  fa-arrow-circle-left"></span>Voltar</a>
            <button type="submit" class="btn btn-labeled btn-primary" style="margin-top:25px !important"><span class="btn-label icon fa fa-check-circle-o"></span>Salvar</button>
        </div>
    }
</div>

<script>
    $("#TypeId").select2();
</script>
