﻿@model ProcessManagement.DTO.ModelsView.CashFlow
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="page-header">
    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-arrow-circle-right page-header-icon"></i>&nbsp;&nbsp;Nova Entrada</h1>
</div>

@using (Html.BeginForm("Save", "CashFlow", new { model = @Model, input = true }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (ViewBag.Authority != null && ViewBag.Authority == true)
    {
        <div class="panel-heading">
            <span class="panel-title">Atribuir responsabilidade</span>
            <div class="panel-heading-controls">
                <div class="panel-heading-icon"><i class="fa fa-gavel"></i></div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <label for="AccessGroupId">Usuário</label>
                    @Html.DropDownList("UserId", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
    }

    <div class="panel-heading">
        <span class="panel-title">Digite as informações</span>
        <div class="panel-heading-controls">
            <div class="panel-heading-icon"><i class="fa fa-th"></i></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 hide">
                @Html.LabelFor(model => model.Id)
                @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
            </div>
        </div>

        @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
        {
            <div class="row">
                <div class="col-md-3">
                    @{
                        <label for="stateId">Tipo de entrada</label>
                        @Html.DropDownList("TypeId", null, new { @class = "form-control", @name = "TypeId" })
                    }
                </div>
                <div class="col-sm-5">
                    @Html.LabelFor(model => model.Description)
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                    <div for="Description" class="jquery-validate-error help-block">
                        @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.TotalAmount)
                    @Html.TextBoxFor(model => model.TotalAmount, new { @class = "form-control priceFormat" })
                    @Html.ValidationMessageFor(model => model.TotalAmount, string.Empty, new { @class = "text-danger" })
                </div>
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.FirstPaymentDate)
                    <div class="input-group date">
                        @Html.TextBoxFor(model => model.FirstPaymentDate, new { @class = "form-control datepicker" })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.FirstPaymentDate, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-3">
                    @{
                        <label for="stateId">Tipo de entrada</label>
                        @Html.DropDownList("TypeId", null, new { @class = "form-control", @name = "TypeId" })
                    }
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(model => model.Description)
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                    <div for="Description" class="jquery-validate-error help-block">
                        @Html.ValidationMessageFor(model => model.Description, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    @Html.LabelFor(model => model.TotalAmount)
                    @Html.TextBoxFor(model => model.TotalAmount, new { @class = "form-control priceFormat" })
                    @Html.ValidationMessageFor(model => model.TotalAmount, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.Installments)
                    @Html.TextBoxFor(model => model.Installments, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Installments, string.Empty, new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    <label for="ValueInstallments">Valor parcelas</label>
                    <input class="form-control priceFormat" data-val="true" data-val-number="The field Parcelas must be a number." id="ValueInstallments" name="ValueInstallments" type="text" value="">
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.FirstPaymentDate)
                    <div class="input-group date">
                        @Html.TextBoxFor(model => model.FirstPaymentDate, new { @class = "form-control datepicker" })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.FirstPaymentDate, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="row">
            <div class="col-sm-12">
                @Html.LabelFor(model => model.Details)
                @Html.TextAreaFor(model => model.Details, 5, 10, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Details, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />

    <div class="panel-heading">
        <span class="panel-title">Imagens</span>
        <div class="panel-heading-controls">
            <div class="panel-heading-icon"><i class="fa fa-paperclip"></i></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="dropzoneAtachmentImage" class="dropzone-box">
                    <div class="dz-default dz-message">
                        <i class="fa fa-download"></i>
                        Drop file in here<br><span class="dz-text-small">or click to pick manually</span>
                    </div>
                    <div class="fallback">
                        <input name="file" type="file" multiple />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer text-right">
        <a href="javascript:history.back()" class="btn btn-labeled btn-danger" style="margin-top:25px !important"><span class="btn-label icon fa  fa-arrow-circle-left"></span>Voltar</a>
        <button type="submit" class="btn btn-labeled btn-primary" style="margin-top:25px !important"><span class="btn-label icon fa fa-check-circle-o"></span>Salvar</button>
    </div>

    <input class="form-control hidden" id="inputGuid" name="inputGuid" type="text" value="">
}

<script>
    $(document).ready(function () {
        @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
        {
            @:prepareDropzoneEdit();
                }
        else
        {
            @:prepareDropzoneInsert();
                }
    });

    var guid = guid();

    if ($("#FirstPaymentDate") != "")
        $("#FirstPaymentDate").val($("#FirstPaymentDate").val().substring(0, 10));

    $("#TypeId").select2();

    function prepareDropzoneInsert() {
        $("#dropzoneAtachmentImage").dropzone({
            url: "@Url.Action("Dropzone", "Application")?guid=" + guid,
            paramName: "file",
            maxFilesize: 5.0,
            uploadMultiple: true,
            parallelUploads: 10000,
            maxFiles: 50,
            addRemoveLinks: true,
            dictResponseError: "Can't upload file!",
            acceptedFiles: "image/*",
            autoProcessQueue: true,
            success: function (data, response) {
                PixelAdmin.plugins.alerts.clear(true);
                if (response["messageError"] == null) {
                    $("#inputGuid").val(guid);
                } else {
                    PixelAdmin.plugins.alerts.add(response["messageError"], { type: "warning" });
                }
            },
            removedfile: function (file) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("RemoveFileFromCache", "Application")',
                    data: { guid: guid, fileName: file.name },
                    success: function (data, response) {
                        PixelAdmin.plugins.alerts.clear(true);
                        if (response["messageError"] != null) {
                            PixelAdmin.plugins.alerts.add(response["messageError"], { type: "warning" });
                        }
                    }
                });

                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            }
        });
    }

    function prepareDropzoneEdit() {
        $("#dropzoneAtachmentImage").dropzone({
            url: "@Url.Action("Dropzone", "Application")?guid=" + guid,
            paramName: "file",
            maxFilesize: 5.0,
            uploadMultiple: true,
            parallelUploads: 10000,
            maxFiles: 50,
            addRemoveLinks: true,
            dictResponseError: "Can't upload file!",
            acceptedFiles: "image/*",
            autoProcessQueue: true,
            success: function (data, response) {
                PixelAdmin.plugins.alerts.clear(true);
                if (response["messageError"] == null) {
                    $("#inputGuid").val(guid);
                } else {
                    PixelAdmin.plugins.alerts.add(response["messageError"], { type: "warning" });
                }
            },
            removedfile: function (file) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("RemoveFileFromCache", "Application")',
                    data: { guid: guid, fileName: file.name },
                    success: function (data, response) {
                        PixelAdmin.plugins.alerts.clear(true);
                        if (response["messageError"] != null) {
                            PixelAdmin.plugins.alerts.add(response["messageError"], { type: "warning" });
                        }
                    }
                });

                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            },
            init: function () {
                var thisDropzone = this;
                var id = $("#Id").val();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetAttachments", "CashFlow")',
                    data: { cashFlowInstallmentId: id, guid: guid },
                    success: function (data, response) {
                        if (data) {
                            $.each(data.Data.Data, function (index, item) {
                                var mockFile = {
                                    name: item.Name,
                                    size: item.Size
                                };

                                var src = '@Url.Action("Index", "Image")?id=' + item.Id;

                                thisDropzone.emit("addedfile", mockFile);
                                thisDropzone.emit("thumbnail", mockFile, src);
                            });

                            $("#inputGuid").val(data.Data.Guid);
                            $("#dropzoneAtachmentImage img").css({ "max-width": "130px" });
                        }
                    }
                });
            }
        })
    }

    eventsCashFlow();
</script>
