﻿<div id="modal-blurred-bg" class="modal fade modal-blur in" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Detalhes</h4>
            </div>
            <div class="modal-body" id="Preview"></div>
        </div> 
    </div> 
</div>


