﻿@model ProcessManagement.DTO.ModelsView.CashFlowInstallmentsDetails

<div class="modal fade modal-blur in" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Visualize as informações </span>
                <div class="panel-heading-controls pull-right">
                    <div class="nav-icon-btn nav-icon-btn-danger dropdown">
                        <a href="#notifications" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="small-screen-text">Histórico</span>
                        </a>
                        <div class="dropdown-menu widget-notifications no-padding" style="width: 300px">
                            <div class="pre-scrollable" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                                <div class="notifications-list" id="main-navbar-notifications" style="overflow: hidden; width: auto; height: 250px;">
                                    <div class="notification">
                                        <div class="notification-title text-success">Criação</div>
                                        <div class="notification-description"><strong>Por:</strong> @Model.CashFlowInstallment.CashFlow_CashFlowId.Users.UserName <strong>Data:</strong> @Model.CashFlowInstallment.CashFlow_CashFlowId.DateCreation.ToString("dd/MM/yyyy")</div>
                                        <div class="notification-icon fa fa-hdd-o bg-success"></div>
                                    </div>
                                    @{
                                        foreach (var log in Model.Logs)
                                        {
                                            <div class="notification">
                                                <div class="notification-title text-warning">Alteração</div>
                                                <div class="notification-description">
                                                    <strong>Por:</strong> @log.Users.UserName
                                                    <strong>Data:</strong> @log.DateLog.ToString("dd/MM/yyyy")
                                                    <strong>Campo:</strong> @log.ColumnTable.Display
                                                    <strong>De:</strong> @log.Before
                                                    <strong>Para:</strong> @log.After
                                                </div>
                                                <div class="notification-icon fa fa-hdd-o bg-warning"></div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="Description">Tipo</label>
                        @Html.TextBoxFor(model => model.CashFlowInstallment.CashFlow_CashFlowId.CashFlowType.Name, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-6">
                        <label for="Description">Descrição</label>
                        @Html.TextBoxFor(model => model.CashFlowInstallment.Description, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-3">
                        <label for="ValueInstallment">Valor</label>
                        @Html.TextBoxFor(model => model.CashFlowInstallment.ValueInstallment, new { @class = "form-control priceFormat", @disabled = "disabled" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="Installment">Parcela</label>
                        @Html.TextBoxFor(model => model.CashFlowInstallment.Installment, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-6">
                        <label for="PaymentDate">Data pag.</label>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.CashFlowInstallment.PaymentDate, new { @class = "form-control datepicker", @disabled = "disabled" })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="Details">Detalhes</label>
                        @Html.TextAreaFor(model => model.CashFlowInstallment.Details, 5, 10, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.CashFlowInstallment.CashFlowImages != null && Model.CashFlowInstallment.CashFlowImages.Any())
{
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Imagens </span>
                    <div class="panel-heading-controls">
                        <div class="panel-heading-icon"><i class="fa  fa-paperclip"></i></div>
                    </div>
                </div>
                <div class="panel-body">
                    @foreach (var image in @Model.CashFlowInstallment.CashFlowImages)
                    {
                        <div class="col-sm-4">
                            <a href="#" class="pop">
                                <img src="@Href("~/Image?id="+image.ImageId)" onerror="this.onerror = null; this.src = '';" style="width: 200px; height: 132px;" class="img-responsive">
                            </a>
                            <br />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<script>
    if ($("#CashFlowInstallment_PaymentDate") != "")
        $("#CashFlowInstallment_PaymentDate").val($("#CashFlowInstallment_PaymentDate").val().substring(0, 10));

    $('#main-navbar-notifications').slimScroll({ height: 250 });

    $('.pop').on('click', function () {
        $('.imagepreview').attr('src', $(this).find('img').attr('src'));
        $('#imagemodal').modal('show');
    });
</script>
