﻿body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.Pending {
    color:#ffc107;
}

.Approved {
    color:green;
}

.Refused {
    color:red;
}
