﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="page-header">
    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;Dashboard</h1>
</div>

<div class="row">
    <div class="col-sm-8">
        <div class="stat-panel">
            <a href="#" class="stat-cell col-xs-5 bg-primary bordered no-border-vr no-border-l no-padding valign-middle text-center text-lg">
                <i class="fa fa-calendar"></i>&nbsp;&nbsp;<strong>@TempData["Year"]</strong>
            </a>
            <div class="stat-cell col-xs-7 no-padding valign-middle">
                <div class="stat-rows">
                    <div class="stat-row">
                        <a href="#" class="stat-cell bg-primary padding-sm valign-middle">
                            Total de entradas: @TempData[$"InputsTotal"]
                            <i class="fa fa-arrow-circle-right pull-right"></i>
                        </a>
                    </div>
                    <div class="stat-row">
                        <a href="#" class="stat-cell bg-primary darken padding-sm valign-middle">
                            Total de saídas: @TempData[$"OutputsTotal"]
                            <i class="fa fa-arrow-circle-left pull-right"></i>
                        </a>
                    </div>
                    <div class="stat-row">
                        <a href="#" class="stat-cell bg-primary darker padding-sm valign-middle">
                            Saldo total: @TempData[$"Balance"]
                            <i class="fa fa-money pull-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Comparativo / Ano atual</span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-icon"><i class="fa fa-bar-chart-o"></i></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-default pre-scrollable">
                    <canvas id="chartcontainer" min-width 310px; height: 400px; margin 0 auto></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default panel-dark widget-profile">
            <div class="panel-heading">
                <div class="widget-profile-bg-icon"><i style="color:rgba(174, 191, 171, 0.43)" class="fa fa-bar-chart-o"></i></div>
                <div class="widget-profile-header">
                    <span style="color:#555;">Resumo / Mês atual</span><br>
                    <a style="color:#555;">Valores totais</a>
                </div>
            </div>

            <div class="widget-profile-text" style="min-height: 100px;padding-top: 9px;">
                <div class="widget-profile-counters">
                    <div class="col-xs-4"><span>@TempData[$"InputsTotalResume"]</span><br>Entradas</div>
                    <div class="col-xs-4"><span>@TempData[$"OutputsTotalResume"]</span><br>Saidas</div>
                    <div class="col-xs-4"><span>@TempData[$"BalanceResume"]</span><br>Saldo</div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Percentual / Mês atual</span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-icon"><i class="fa fa-signal"></i></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="graph-container">
                    <div id="Percentage" class="graph"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var categories = [];
    var series = [{ name: 'Entradas', data: [], color: '#AEBFAB' }, { name: 'Saídas', data: [], color: '#DC7B7B' }];

    @foreach(var category in (string[])TempData["ChartCategories"])
    {
        @:categories.push('@category');
    }

    @foreach(var value in (string[])TempData["ChartValuesInput"])
    {
        @:series[0].data.push(parseFloat('@value.Replace(',', '.')'));
    }

    @foreach(var value in (string[])TempData["ChartValuesOutput"])
    {
        @:series[1].data.push(parseFloat('@value.Replace(',', '.')'));
    }

    loadLineChart('Movimentação de caixa', categories, series, '#chartcontainer');

    Morris.Donut({
        element: 'Percentage',
        data: [
            { label: 'Entradas', value: @TempData[$"InputsPercent"].ToString().Replace(',','.') },
            { label: 'Saídas', value: @TempData[$"OutputsPercent"].ToString().Replace(',', '.') },
        ],
        colors: ["#AEBFAB", "#DC7B7B"],
        resize: true,
        labelColor: '#888',
        formatter: function (y) { return y + '%' }
    });
</script>