﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <h3>Ocorreu um erro inesperado.</h3>
                <h6>Detalhes: @TempData["ErrorDetails"]</h6>
                <hr />
            </div>
        </div>
    </div>
</body>
</html>
