﻿@{ ViewBag.Title = "Controle Financeiro"; }
@using ProcessManagement.Controllers

@Styles.Render("~/Content/bootstrapSys")

@{ 
    if (Session["UserName"] == null)
    {
        ((ApplicationController)ViewContext.Controller).SetCheckUser();
    }
}

<nav id="menuIndex" class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="position: fixed;border-bottom: 1px solid #9C9C9C;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button id="buttonMenu" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="float:left;color:#616161;margin-left:34px;cursor:pointer;margin-top:5px;font-size: 18px;" id="togglednMenu"><span class="glyphicon glyphicon-tasks"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li style="cursor:pointer;text-decoration:none;border-left: 1px solid #989898;padding-left: 10px;">
                    <div class="dropdown" style="margin-right:30px;">
                        <a class="dropdown-toggle" id="OptinsUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="text-decoration:none;">
                            <i style="margin-top: 17px; color:#616161" class="glyphicon glyphicon-chevron-down"></i>
                            <img class="img-circle" src="" onerror="this.onerror = null; this.src = '/Content/Images/avatar.png';" style="max-width:50px;max-height: 50px;" />
                            <span style="color:#616161;font-size:13px;margin-right:15px;font-family:'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Helvetica Neue','BBAlpha Sans','S60 Sans','Arial';margin-left: 15px;">@Session["UserName"]</span>
                            <ul class="dropdown-menu" aria-labelledby="OptinsUser">
                                <li class="dropdown-item">
                                    <a href=""><i class="glyphicon glyphicon-user" style="margin-top: 0px;"></i> Perfil</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="@Url.Action("LogOut","Login")"><i class="glyphicon glyphicon-off" style="margin-top: 0px;"></i> Sair</a>
                                </li>
                            </ul>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="wrapper" style="margin-top: 49px;">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <div id="MainMenu">
                    <div class="list-group panel" style="border: none">
                        @{
                            var count = 0;

                            foreach (var menuItem in ViewBag.Menu)
                            {
                                var nameItem = "item" + count.ToString();
                                var hrefItem = "#item" + count.ToString();

                                if (menuItem.Menu_Childs.Count > 0)
                                {
                                    <a href="@hrefItem" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu" style="background-color: #67767D">@menuItem.Text<span class="glyphicon glyphicon-chevron-down"></span></a>

                                    <div class="collapse" id="@nameItem">
                                        @foreach (var menuItemChild in menuItem.Menu_Childs)
                                        {
                                            <a href="@Url.Action(@menuItemChild.View.ViewName, @menuItemChild.View.Controller.Controller)" class="list-group-item" style="background-color: #67767D">@menuItemChild.Text<span class="@menuItemChild.Icon"></span></a>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <a href="@Url.Action(@menuItem.View.ViewName, @menuItem.View.Controller.Controller)" class="list-group-item" style="background-color: #67767D">@menuItem.Text<span class="@menuItem.Icon"></span></a>
                                }

                                count++;
                            }
                        }
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
</div>

<script>Menu()</script>



