﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="page-header">
    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-retweet page-header-icon"></i>&nbsp;&nbsp;Conciliação bancária</h1>
</div>