﻿<!DOCTYPE html>
<html class="gt-ie8 gt-ie9 not-ie">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Process Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    @Styles.Render("~/Content/table")
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
    <link href="@Href("~/assets/stylesheets/widgets.min.css")" rel="stylesheet" type="text/css">
    <link href="@Href("~/assets/stylesheets/rtl.min.css")" rel="stylesheet" type="text/css">
    <link href="@Href("~/assets/stylesheets/themes.min.css")" rel="stylesheet" type="text/css">
    <link href="@Href("~/assets/stylesheets/jquery.toolbar.css")" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="@Href("~/assets/stylesheets/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Href("~/assets/stylesheets/pixel-admin.min.css")" rel="stylesheet" type="text/css">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Href("~/assets/javascripts/bootstrap.min.js")"></script>
    <script src="@Href("~/assets/javascripts/pixel-admin.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

    <script>
        var demo_themes = [
           { name: 'default', title: 'Default', img: '@Href("~/assets/demo/themes/default.png")' }
        ];
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    @Scripts.Render("~/bundles/charts")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/table")
    @Scripts.Render("~/bundles/maskMoney")
    @Scripts.Render("~/bundles/views")
    @Scripts.Render("~/bundles/datePickerJs")

    <style>
        #mm-howdy {
            color: #fff;
        }

        .theme-clean #mm-howdy, .theme-white #mm-howdy {
            color: #444;
        }
    </style>
</head>

@using ProcessManagement.Controllers

@{
    ((ApplicationController)ViewContext.Controller).LoadMenu();
    if (Session["UserName"] == null)
    {
        ((ApplicationController)ViewContext.Controller).SetCheckUser();
    }
}

<body class="theme-default main-menu-animated">
    <script>var init = [];</script>
    <script src="@Href("~/assets/demo/demo.js")"></script>

    <div id="main-wrapper">
        <div id="main-navbar" class="navbar navbar-inverse" role="navigation">
            <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text"></span></button>
            <div class="navbar-inner">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <div><img alt="Pixel Admin" src="@Href("~/assets/images/pixel-admin/main-navbar-logo.png")"></div>
                        @Session["ClientDisplayName"]
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>
                </div>

                <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
                    <div>
                        <div class="right clearfix">
                            <ul class="nav navbar-nav pull-right right-navbar-nav">

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
                                        @if ((int)Session["ProfileImageId"] != 0)
                                        { <img src="data:image/jpg;base64,@(@Session["ProfileContent"])" onerror="this.onerror = null; this.src = '@Href("~/Content/Images/avatar.png")';">
                                        }
                                        else
                                        {
                                            <img src="" onerror="this.onerror = null; this.src = '@Href("~/Content/Images/avatar.png")';">
                                        }

                                        <span>@Session["Name"]</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("EditUser","User", new { id =  Session["UserId"]})"><i class="dropdown-icon fa fa-user"></i>&nbsp;&nbsp;Meus dados</a></li>
                                        <li><a href="@Url.Action("LogOff","Home")"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Sair</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="main-menu" role="navigation">
            <div id="main-menu-inner">
                <div class="menu-content top" id="menu-content-demo">
                    <div>
                        <div class="text-bg"><span class="text-slim">Bem Vindo!</span></div>

                        @if ((int)Session["ProfileImageId"] != 0)
                        {
                            <img src="data:image/jpg;base64,@(@Session["ProfileContent"])" onerror="this.onerror = null; this.src = '@Href("~/Content/Images/avatar.png")';">
                        }
                        else
                        {
                            <img src="" onerror="this.onerror = null; this.src = '@Href("~/Content/Images/avatar.png")';">
                        }

                        <div class="btn-group">
                            <a href="@Url.Action("EditUser","User", new { id =  Session["UserId"]})" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-user"></i></a>
                            <a href="@Url.Action("LogOff","Home")" class="btn btn-xs btn-danger btn-outline dark"><i class="fa fa-power-off"></i></a>
                        </div>
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
                <ul class="navigation">
                    @{
                        foreach (var menuItem in ViewBag.Menu)
                        {
                            if (menuItem.Menu_Childs.Count > 0)
                            {
                                <li class="mm-dropdown">
                                    <a href="#"><i class="@menuItem.Icon"></i><span class="mm-text">@menuItem.Text</span></a>
                                    <ul>
                                        @foreach (var menuItemChild in menuItem.Menu_Childs)
                                        {
                                            <li>
                                                <a tabindex="-1" href="@Url.Action(@menuItemChild.View.ViewName, @menuItemChild.View.Controller.Controller)"><span class="mm-text">@menuItemChild.Text</span></a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action(@menuItem.View.ViewName, @menuItem.View.Controller.Controller)"><i class="@menuItem.Icon"></i><span class="mm-text"> @menuItem.Text</span></a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>

        <div id="content-wrapper">
            <script>
                init.push(function () {
                    $('#toggle-mme').click(function () {
                        $('body').toggleClass('mme');
                    });
                    $('#toggle-mmc').click(function () {
                        $('body').toggleClass('mmc');
                    });
                });
            </script>

            @RenderBody()
        </div>
        <div id="main-menu-bg"></div>
    </div>

    @Html.Action("TempMessage", "Application")

    <script type="text/javascript">
        init.push(function () {

        })
        window.PixelAdmin.start(init);

        startdatepickers();
        startPriceFormats();

        $('.highcharts-container svg:first-child').css({ "font-family": "'Helvetica Neue', Helvetica, Arial, sans-serif" });

        @if (TempData["StateModal"] != null)
        {
            @:$("#messageModal").appendTo("body").modal("toggle");
        }
    </script>
</body>
</html>
