﻿@using ProcessManagement.Controllers

@{
    if (TempData["StateModal"] != null)
    {
        var stateModal = (ApplicationController.StateModal)TempData["StateModal"];

        switch (stateModal)
        {
            case ApplicationController.StateModal.Success:
                <div id="messageModal" class="modal modal-alert modal-success fade in" aria-hidden="false" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="modal-title">@TempData["TitleModal"]</div>
                            <div class="modal-body">@TempData["TextModal"]</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                return;

            case ApplicationController.StateModal.Danger:
                <div id="messageModal" class="modal modal-alert modal-danger fade in" aria-hidden="false" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="fa fa-times-circle"></i>
                            </div>
                            <div class="modal-title">@TempData["TitleModal"]</div>
                            <div class="modal-body">@TempData["TextModal"]</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                return;

            case ApplicationController.StateModal.Info:
                <div id="messageModal" class="modal modal-alert modal-info fade in" aria-hidden="false" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="fa fa-info-circle"></i>
                            </div>
                            <div class="modal-title">@TempData["TitleModal"]</div>
                            <div class="modal-body">@TempData["TextModal"]</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                return;

            case ApplicationController.StateModal.Warning:
                <div id="messageModal" class="modal modal-alert modal-warning fade in" aria-hidden="false" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="fa fa-warning"></i>
                            </div>
                            <div class="modal-title">@TempData["TitleModal"]</div>
                            <div class="modal-body">@TempData["TextModal"]</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                return;
        }

        <script>
            $("#messageModal").appendTo("body").modal("toggle");
        </script>
    }
}






